{% extends '../../base.html' %}
{% load static %}

{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'images/background/3.jpg' %})">
  <div class="auto-container">
    <h1>QUI SOMMES NOUS </h1>
    <ul class="bread-crumb clearfix">
      <li><a href="index.html">ACCUEIL</a></li>
      <li class="active">A PROPOS DE SCI MOLITOR</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!--About Section-->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title style-two">
            <h2>Introduction à SCI MOLITOR</h2>
            <div class="separator"></div>
          </div>
          <div class="text">
            <strong> 1) LE GROUPE : I TELEGES GROUP </strong><br>
            SCI MOLITOR est une filiale d’I-TELEGES GROUP, holding hébergeant en son sein plusieurs
            autres sociétés et spécialisée dans l'ingénierie, l'immobilier et le foncier, l'agro-industrie sans oublier
            l'économie numérique.
            <ul>
              <li>ꞏ I TELEGES SA</li>
              <li>ꞏ I MINERAIS</li>
              <li>ꞏ BTPPRO.NET</li>
            </ul>
            <br>
            <strong>2) SCI MOLITOR</strong><br>
            Créé depuis 2017, SCI MOLITOR est une entreprise de promotion immobilière agréée par l’état de
            Côte d'Ivoire. <br>
            Elle est spécialisée dans: <br>
            <ul>
              <li>ꞏ Le lotissement</li>
              <li>ꞏ L'aménagement foncier</li>
              <li>ꞏ La promotion immobilière</li>
              <li>ꞏ La location d'engins</li>
              <li>ꞏ La vente de terrain.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div class="image">
          <img src="{% static 'images/resource/about-2.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!--End About Section-->

<!--News Section Section-->
<section class="news-section-two">
  <div class="auto-container">
    <div class="row clearfix">
      
      <!--News Block Two-->
      <div class="news-block-two col-md-6 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="lower-box">
            <h3>NOTRE VISION</h3>
            <div class="text">
              <p> 
                Présente sur le marché de l’immobilier et de la vente de terrains depuis 2017, SCI MOLITOR a
                l’intention de révolutionner ce secteur en proposant des biens et services adaptés aux besoins de
                la clientèle cible en toute fiabilité, efficacité et professionnalisme : faire des opérations
                immobilières en Côte d’Ivoire un domaine sûr et accessible à tous. <br><br>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <!--News Block Two-->
      <div class="news-block-two col-md-6 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="lower-box">
            <h3>LEITMOTIV</h3>
            <div class="text">
              <p>
                  <strong>EXPERIENCE</strong> : SCI MOLITOR possède des années d'expérience de plus de 20 ans à travers celles des membres de son personnel, 
                  qui ne cessent d'en acquérir.<br>
                  <strong>FIABILITE</strong> : avec SCI MOLITOR, chose promise chose due. Plus besoin de vous tracasser, nous vous accompagnons pendant tout le cursus de votre acquisition.<br>
                  <strong>EFFICACITE</strong> : SCI MOLITOR, vous garantit un travail bien fait et efficace.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!--End News Section Section-->

{% include '../../sections/_counter.html' %}

<!--Team Section-->
<section class="team-section">
  <div class="auto-container">

    <!--Sec Title-->
    <div class="sec-title centered">
      <h2>Rencontrez nos experts</h2>
      <div class="sub-title">Un prisme de perspectives, passions and talents</div>
      <div class="separator"></div>
    </div>
    <!--End Sec Title-->

    <div class="row clearfix">

      <!--Team Member-->
      <div class="team-member col-md-3 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <img src="{% static 'images/resource/team-1.jpg' %}" alt="">
          </div>
          <div class="lower-box">
            <h3><a href="#">M. Anicet Eby AMOA</a></h3>
            <div class="designation">Directeur des Opérations</div>
            <ul class="social-icon-one">
              <li><a href="#"><span class="fab fa-facebook"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Team Member-->
      <div class="team-member col-md-3 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <img src="{% static 'images/resource/team-2.jpg' %}" alt="" />
          </div>
          <div class="lower-box">
            <h3><a href="#">Mme AMON</a></h3>
            <div class="designation">COMPTABILITÉ</div>
            <ul class="social-icon-one">
              <li><a href="#"><span class="fab fa-facebook"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Team Member-->
      <div class="team-member col-md-3 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <img src="{% static 'images/resource/team-4.jpg' %}" alt="" />
          </div>
          <div class="lower-box">
            <h3><a href="#">Mme Rita BLEU</a></h3>
            <div class="designation">CHARGEE DE CLIENTÈLE</div>
            <ul class="social-icon-one">
              <li><a href="#"><span class="fab fa-facebook"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Team Member-->
      <div class="team-member col-md-3 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <img src="{% static 'images/resource/team-4.jpg' %}" alt="" />
          </div>
          <div class="lower-box">
            <h3><a href="#">Miss Marina AMANI</a></h3>
            <div class="designation">CHARGEE DE CLIENTÈLE</div>
            <ul class="social-icon-one">
              <li><a href="#"><span class="fab fa-facebook"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Team Member-->
      <div class="team-member col-md-3 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <img src="{% static 'images/resource/team-3.jpg' %}" alt="" />
          </div>
          <div class="lower-box">
            <h3><a href="#">M. You ZAN BI</a></h3>
            <div class="designation">RESPONSABLE TECHNIQUE</div>
            <ul class="social-icon-one">
              <li><a href="#"><span class="fab fa-facebook"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Team Section-->
{% endblock content %}

