{% load static %}

<div class="container mt-5 mb-5">
    <div class="clients-carousel slider">
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-1.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-2.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-3.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-5.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-6.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-7.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-8.png' %}" alt=""></figure>
      </div>
      <div class="slide">
          <figure class="clients-logo"><img src="{% static 'img/images/client-1.png' %}" alt=""></figure>
      </div>
    </div>
</div>