{% load static %}

<div class="gallery-wrapper mt-5 mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Photo Gallery</h2>
            <p>We specialise in intelligent & effective search and believes in <br/> the power of partnerships to grow business.</p>
        </div>
    </div>
    <div class="gallery-carousel slider">
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery1.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery1.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery2.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery2.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery3.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery3.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery4.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery4.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery5.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery5.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
      <div class="slide">
          <div class="thumbnail-slide">
            <a class='gallery-link' href="{% static 'img/images/gallery6.jpg' %}">
                <figure class='gallery-image'>
                  <img height='1150' src="{% static 'img/images/gallery6.jpg' %}" width='992' alt="">
                  <figcaption><i class="fas fa-search"></i></figcaption>
                </figure>
            </a>
          </div>
      </div>
    </div>
</div>