{% load static %}


<!--About Section-->
<section class="about-section-home">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="about-details col-md-12 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title style-two">
                        <!-- <div class="sub-title">From undulating skyscrapers to marvelous museums</div> -->
                        <h2>A Propos de <span>SCI-Molitor</span></h2>
                        <div class="separator"></div>
                    </div>
                    <div class="text">

                        <p>
                            Créé depuis 2017, SCI MOLITOR est une entreprise de promotion immobilière agréée par
                            l’état de
                            Côte d’Ivoire. Elle est spécialisée dans :
                        </p>

                        <br>

                        <div class="inner-box">
                            <ol>
                                
                                <div class="sidebar-title">
                                    <h2>Le lotissement</h2>
                                </div>
                                <div class="sidebar-title">
                                    <h2>L’aménagement foncier</h2>
                                </div>
                                <div class="sidebar-title">
                                    <h2>Le lotissement</h2>
                                </div>
                                <div class="sidebar-title">
                                    <h2>La promotion immobilière</h2>
                                </div>
                                <div class="sidebar-title">
                                    <h2>La location d'engins</h2>
                                </div>
                                <div class="sidebar-title">
                                    <h2>La vente de terrain</h2>
                                </div>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-details-image col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="{% static 'images/resource/about.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->