{% load static %}

<!--Counter Section-->
<div class="counter-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>SCI MOLITOR en chiffres</h2>	
            <div class="sub-title">Un résumé statisque de nos activités</div>
            <div class="separator">
                <span class="dott"></span>
                <span class="dott"></span>
                <span class="dott"></span>
            </div>
        </div>
    </div>
    <div class="fact-section" style="background-image:url({% static 'images/background/2.jpg' %})">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title Column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <div class="title-inner">
                        <div class="number">6</div>
                        <div class="text">années à vôtre service.</div>
                    </div>
                </div>
                <div class="counter-column col-md-6 col-sm-12 col-xs-12">

                    <div class="fact-counter">
                        <div class="auto-container">
                            <div class="row clearfix">

                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="220">0</span>+
                                        </div>
                                        <h4 class="counter-title">Clients satisfaits</h4>
                                    </div>
                                </div>

                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="180">0</span>
                                        </div>
                                        <h4 class="counter-title">Professionnels Formés</h4>
                                    </div>
                                </div>

                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="600">0</span>+
                                        </div>
                                        <h4 class="counter-title">Biens vendus</h4>
                                    </div>
                                </div>

                                <!--Column-->
                                <div class="column counter-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner">
                                        <div class="count-outer count-box">
                                            <span class="count-text" data-speed="2000" data-stop="260">0</span>+
                                        </div>
                                        <h4 class="counter-title">Promotion Immobilière</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Counter Section-->