{% load static %}

<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Nos dernières actualités</h2>
            {% comment %} <div class="sub-title">Learn more about design tips and construction trends</div> {% endcomment %}
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            {% for post in posts %}
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="{{post.image.url}}" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> {{post.publish | date}}</div>
                        <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        </h3>
                        <div class="text">{{ post.body }}</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="{{ post.get_absolute_url }}" class="read-more">Lire plus<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="{% static 'images/resource/news-thumb-1.jpg' %}" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 29, 2021</div>
                        <h3><a href="blog-single.html">Everything You Need to Know About Minimalist Design</a>
                        </h3>
                        <div class="text">Clean lines, reductive, uncluttered, monochromatic, simplicity, "less
                            is more" these are some of the terms and concepts.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}

            {% comment %} <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="{% static 'images/resource/news-thumb-2.jpg' %}" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 22, 2021</div>
                        <h3><a href="blog-single.html">Organizing Ideas To Give Your Office The Ultimate
                                Upgrade</a></h3>
                        <div class="text">Home offices are all the rage right now. Yours could be the
                            headquarters for a small business, questionably relevant papers, or homework
                            central.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="blog-single.html">
                        <div class="image">
                            <img src="{% static 'images/resource/news-thumb-3.jpg' %}" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> March 15, 2021</div>
                        <h3><a href="blog-single.html">How to Decorate Your Kitchen with Subway Tiles</a></h3>
                        <div class="text">It doesn't matter what your design aesthetic is or how much space you
                            have, one thing's for sure: Subway tiles are a failsafe.</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="blog-single.html" class="read-more">Read More <span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}

        </div>
    </div>
</section>
<!--End News Section-->