{% load static %}
{% load thumbnail %}

<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Nos dernières actualités</h2>
            {% comment %} <div class="sub-title">Learn more about design tips and construction trends</div> {% endcomment %}
            <div class="separator"></div>
        </div>
        <div class="row clearfix">
            {% for post in posts %}
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <a href="{{ post.get_absolute_url }}">
                        <div class="image">
                            <img src="{% thumbnail post.image 360x280 crop="smart" %}" alt="" />
                        </div>
                    </a>
                    <div class="lower-box">
                        <div class="post-date"><i class="far fa-calendar-alt"></i> {{post.publish | date}}</div>
                        <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        </h3>
                        <div class="text">{{ post.body }}</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="{{ post.get_absolute_url }}" class="read-more">Lire plus<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--End News Section-->