{% load static %}

<!--Services Section Two-->
<section class="services-section-two" style="background-image:url({% static 'images/background/1.jpg' %})">
    <div class="section-inner">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered">
                <h2>Nos Services</h2>
                <div class="sub-title">a force for activating cities and reenergizing cultures</div>
                <div class="separator"></div>
            </div>
            <div class="row clearfix">
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="{% static 'images/services/icon-1.svg' %}" alt="">
                        </div>
                        <h3><a href="services-single.html">Lotissement</a></h3>
                        <div class="text">Chez SCI MOLITOR, le titrage de vos parcelles à des fins urbaines est fait avec maestra.</div>
                        <a class="read-more" href="services-single.html">En savoir plus <span
                                class="icon fa fa-angle-double-right"></span></a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="{% static 'images/services/icon-2.svg' %}" alt="">
                        </div>
                        <h3><a href="services-single.html">Aménagement foncier</a></h3>
                        <div class="text">L'application des données numériques ou théoriques fournies par nos experts
                        </div>
                        <a class="read-more" href="services-single.html">En savoir plus<span
                                class="icon fa fa-angle-double-right"></span></a>
                    </div>
                </div>

                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="{% static 'images/services/icon-3.svg' %}" alt="">
                        </div>
                        <h3><a href="services-single.html">Formation</a></h3>
                        <div class="text">Notre maitrise du secteur de l'immobilier et de la vente de terrain nous amène</div>
                        <a class="read-more" href="services-single.html">En savoir plus <span
                                class="icon fa fa-angle-double-right"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Services Section Two-->